.not_found_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.img_lost {
  width: 220px;
  height: 220px;
  margin: 30px;
}

.page_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
