<div class="dialog">
  <h1>Carnet de santé</h1>

  <div [formGroup]="recordForm" class="form">

    <mat-form-field appearance="outline" class="field">
      <mat-label>Type d'animal de compagnie</mat-label>
      <mat-select
        formControlName="type" required>
        <mat-option *ngFor="let a of animalType" [value]="a">
          {{a}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label>Sexe* : </label>
      <mat-radio-group
        class="field"
        formControlName="sex">
        <mat-radio-button class="rad_btn" *ngFor="let s of sexList" [value]="s.value"  [checked]="isSexChecked(s.value)">
          {{s.type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label>Stéréliser/Castrer* : </label>
      <mat-radio-group
        class="field"
        formControlName="sterilised">
        <mat-radio-button class="rad_btn" *ngFor="let sterelised of sterelisedCase" [value]="sterelised" [checked]="isCastratedChecked(sterelised)">
          {{sterelised}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Nom de votre animal</mat-label>
      <mat-icon matPrefix>pets</mat-icon>
      <input matInput placeholder="Nom de votre animal" formControlName="name" required>
    </mat-form-field>

    <mat-form-field
      class="field"
      appearance="outline">
      <mat-label>Race de votre animal</mat-label>
      <input matInput placeholder="Race de votre animal" formControlName="race" required>
    </mat-form-field>

    <mat-form-field
      class="field"
      appearance="outline" >
      <mat-label>La date de naissance de votre animal </mat-label>
      <input formControlName="birthDate" [max]="maxDate" matInput [matDatepicker]="picker" readonly required>
      <mat-hint>JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-card class="card">
      <mat-card-title style="font-weight: bold">Vaccins</mat-card-title>
        <ng-container formArrayName="vaccins">
          <ng-container *ngFor="let vaccinControl of vaccins.controls; index as i">
            <div [formGroupName]="i" class="vaccin">
                <mat-form-field
                  class="vaccin_name"
                  appearance="outline">
                  <mat-label>Nom du vaccin</mat-label>
                  <input matInput placeholder="Nom du vaccin" formControlName="name" required>
                </mat-form-field>

                <div class="vaccin_date">
                  <mat-form-field
                    style="margin: 5px"
                    class="date_field"
                    appearance="outline" >
                    <mat-label>Date du vaccin </mat-label>
                    <input formControlName="dateVaccin"  [min]="getMinDate()" [max]="maxDate" matInput [matDatepicker]="picker" readonly required>
                    <mat-hint>JJ/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field
                    class="date_field"
                    appearance="outline" >
                    <mat-label>Date de rappel du vaccin </mat-label>
                    <input formControlName="dateRecall" [min]="maxDate" matInput [matDatepicker]="picker2" readonly>
                    <mat-hint>JJ/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

            <button
              mat-raised-button
              class="delete"
              style="margin: 10px"
              (click)="removeVaccin(i)">
              Supprimer
            </button>
            <mat-divider [inset]="true"></mat-divider>
    </ng-container>
      </ng-container>
      <mat-card-actions>
        <button mat-mini-fab class="add_element" (click)="addNewVaccin()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="card">
      <mat-card-title style="font-weight: bold">Informations complémentaire</mat-card-title>
        <ng-container *ngFor="let note of notesList; index as j">
          <div class="vaccin">
            <div class="left_side_dialog">
              <mat-form-field
                class="field"
                appearance="outline">
                <mat-label>Informations</mat-label>
                <input matInput placeholder="Informations" [(ngModel)]="notesList[j].informations" required [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <div class="right_side_dialog">

              <button
                mat-raised-button
                class="delete"
                style="margin: 10px"
                (click)="removeNotes(j)">
                Supprimer
              </button>
            </div>
          </div>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      <mat-card-actions>
        <button mat-mini-fab class="add_element" (click)="addNewNote()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>


  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button class="close_btn" (click)="closeDialog()">Fermer</button>
    <div *ngIf="!this.hr; else edit">
      <button mat-stroked-button
              class="save_btn" (click)="saveRecord()"
              cdkFocusInitial [disabled]="!this.recordForm.valid">Créer le carnet</button>
    </div>
    <ng-template #edit>
      <button mat-stroked-button
              class="save_btn" (click)="updateRecord()"
              cdkFocusInitial [disabled]="!this.recordForm.valid">Enregistrer les modifications</button>
    </ng-template>
  </div>
</div>


