<div class="content">
  <mat-card class="signin">
    <h2>J'ai déjà un compte Vetservice</h2>

    <mat-divider></mat-divider>

    <div [hidden]="!isSignIn">
      <form [formGroup]="connectForm" class="form">
        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Adresse email" formControlName="email" required>
          <mat-error *ngIf="emailConnect.invalid">{{getFieldErrorMessage('email', 0, emailConnect)}}</mat-error>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
          <mat-error *ngIf="passwordConnect.invalid">{{getFieldErrorMessage('required', 0, passwordConnect)}}</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="remember" style="margin: 10px">Se souvenir de mon identifiant</mat-checkbox>

        <button
          mat-stroked-button
          class="inside_btn"
          style="margin: 10px"
          (click)="signIn()"
          [disabled]="!connectForm.valid"
        >Se connecter
        </button>

        <h6>Les champs annotés d'un '*' sont obligatoires.</h6>

      </form>
    </div>
    <div [hidden]="isSignIn">
      <div style="padding-top: 10px">
        <button mat-stroked-button class="btn" (click)="signInToUp()">Se connecter</button>
      </div>
    </div>
  </mat-card>


  <mat-card class="signup">
    <h2>Nouveau sur Vetservice ?</h2>

    <mat-divider></mat-divider>

    <div [hidden]="isSignIn">
      <div [formGroup]="registerForm" class="form">

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>phone</mat-icon>
          <mat-label>Numéro de téléphone</mat-label>
          <input type="tel" formControlName="phoneNb" maxlength="10" matInput placeholder="0123456789" required>
          <mat-error *ngIf="phoneNb.invalid">{{getFieldErrorMessage('pattern', 0, phoneNb)}}</mat-error>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Adresse email" formControlName="email" required>
          <mat-error *ngIf="emailRegister.invalid">{{getFieldErrorMessage('email', 0, emailRegister)}}</mat-error>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline"
          style="margin-bottom: 10px">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
          <mat-error *ngIf="passwordRegister.invalid">{{getFieldErrorMessage('minLength', 5, passwordRegister)}}</mat-error>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Nom</mat-label>
          <input formControlName="lastName" matInput required>
          <mat-error *ngIf="lastName.invalid">{{getFieldErrorMessage('minLength', 2, lastName)}}</mat-error>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Prénom</mat-label>
          <input formControlName="firstName" matInput required>
          <mat-error *ngIf="firstName.invalid">{{getFieldErrorMessage('minLength', 2, firstName)}}</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="remember" style="margin: 10px">Se souvenir de mon identifiant</mat-checkbox>

        <button
          mat-stroked-button
          class="inside_btn"
          style="margin: 10px"
          (click)="signUp()"
          [disabled]="!registerForm.valid">
          S'inscrire
        </button>
        <h6>Les champs annotés d'un '*' sont obligatoires.</h6>
      </div>
    </div>
    <div [hidden]="!isSignIn">

      <div style="padding-top: 10px">
        <button mat-stroked-button class="btn" (click)="signInToUp()">S'inscrire</button>
      </div>
    </div>
  </mat-card>
</div>
