<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00AA55;
    color: white;
    font-weight: 600;
  }

  .toolbar button {
    margin: 0 10px;
  }

  .pro {
    color: #00AA55;
  }

  .connect{
    font-weight: 600;
    margin-right: 20px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #00AA55;
    text-decoration: none;
  }

  a:hover {
    color: #396B47;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .titre {
    font-family: Leckerli One;
    font-weight: lighter;
    margin: 0 20px;
    font-size: 26px;
  }

  .progress_spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

</style>

<!-- Toolbar -->
<mat-toolbar class="toolbar">
  <button mat-button class="titre" routerLink="">Vetservices</button>
  <div class="spacer"></div>
  <button mat-stroked-button color="#0" routerLink="store">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12,18H6V14H12M21,14V12L20,7H4L3,12V14H4V20H14V14H18V20H20V14M20,4H4V6H20V4Z" />
    </svg> Boutique en ligne
  </button>
  <div [hidden]="!isConnected">
    <button mat-stroked-button color="#0" routerLink="admin" [hidden]="role!=='admin'">
      <mat-icon>security</mat-icon> Espace Administrateur
    </button>
    <button mat-stroked-button color="#0" routerLink="appointement">
      <mat-icon>date_range</mat-icon> Mes rendez-vous
    </button>
    <button mat-stroked-button color="#0" routerLink="profile">
      <mat-icon>person</mat-icon> Mon profil
    </button>
  </div>

  <div [hidden]="isConnected">
    <button mat-raised-button class="pro" routerLink="vet-signup">Vous êtes un professionnel de santé ?</button>
    <button mat-button class="connect" routerLink="login">Se connecter / S'inscrire</button>
  </div>
</mat-toolbar>

<div class="progress_spinner" *ngIf="loading; else page">
  <mat-spinner></mat-spinner>
</div>

<ng-template #page>
  <router-outlet></router-outlet>
</ng-template>
